
body {
  background-image: url("../img/wallpaper.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}
.na .navbar {
  margin-top: 50px;
  background-color: #2C3E50;
  opacity: 0.9;
  font-size: 20px;
  font-family: Georgia , serif;
  border: #2C3E50;
}
.na .navbar-default .navbar-nav > li > a {
  display: block;
  text-decoration: none;
  color: white;
  border: white;
}
.na .navbar-default .navbar-nav li a:hover {
  background-color: brown;
  color: white;
}
h1 {
  position: relative;
  text-align : center;
  top: 15px;
}
h2 {
  position: relative;
  text-align : left;
  top: 0px;
  margin-left: 20px;
}
h3 {
  position: relative;
  text-align: center;
}
.navbar-header img{
  position: relative;
  height : 50px;
  margin-right: 15px;
}
.container .table thead th {
  color : black;
  font-size: 18px;
  font-size: 20px;
  text-align: center;
 }
.container .table {
  background-color: white;
}
s
.col-md-8 .container-fluid .table thead th{
  color: black;
}
